.balance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px auto -15px auto;
  padding: 8px 12px;
  max-width: 220px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  &__label {
    text-align: center;
    font-weight: 600;
    h4 {
      margin: 0;
      margin-bottom: 10px;
      font-size: .9rem;
      color: #444;
    }
    .red {
      color: #d64541;
    }
    .green {
      color: #1e824c;
    }
  }
}