.balance-label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px auto -50px auto;
  max-width: 200px;
  h4 {
    margin: 5px 0;
    font-size: .9rem;
  }
  span {
    flex: 1;
    overflow: hidden;
  }
  &__expenses {
    // background-color: #d64541;
  }
  &__incomes {
    // background-color: #1e824c;
  }
}