.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #307672;
  color: #e4eddb;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    margin: auto;
  }
  &__copyright {
    justify-self: center;
    a {
      color: #e4eddb;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
