.pie-chart {
  margin: 1rem auto;
  height: 500px;
  &__container {
    margin: auto;
    max-width: 320px;
  }
}
.no-data-placeholder {
  margin-top: 50px;
  text-align: center;
  img {
    margin: 30px auto;
    width: 100%;
    max-width: 350px;
  }
}