{
  "extends": "airbnb",
  "env": {"browser": true},
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  }
}