{
  "extends": "airbnb",
  "env": {"browser": true},
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  }
}