.about {
  &__title {
    text-align: center;
    margin: 0;
  }
  &__acknowledgements {
    margin: 3rem auto;
    text-align: center;
    ul {
      display: inline-block;
      text-align: left;
    }
    li {
      margin-bottom: 10px;
    }
    li::marker {
      color: #307672;
    }
  }
  &__illustration {
    max-width: 250px;
    margin: 0;
    margin-left: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  a {
    color: #343A40;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid #307672;
    &:hover {
      color: #101010;
      border-bottom: 3px solid #225552;
    }
  }
}