*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #307672;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6;
  color: #333;
}